.about__duration-study-text-first {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 7px 0 0;
  /* outline: 1px solid red; */
}

.about__duration-study-text-first:nth-last-child() {

}
