.about__duration-study-text-first {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 7px 0 0;
}

/* .about__duration-study-text-first:nth-child(1) {
  color: #000;
  }  */

.about__duration-study-text-first:nth-child(1) {
  color: #fff;
} 

@media screen and (max-width: 640px) {
  .about__duration-study-cell-second {
    font-size: 11px;
    line-height: 13px;
  }
}
