.hero__link {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 36px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  z-index: 1;
  background-color: #303030;
}
.hero__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 640px) {
  .hero__link {
    width: 82px;
    height: 26px;
    border-radius: 6px;
    font-size: 10px;
  }
}