.header__link_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 32px;
  color: #000000;
  background-color: #3DDC84;
  border-radius: 3px;
  text-decoration: none;
}

.header__link_button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 620px) {
  .header__link-button {
    width: 54px;
    height: 26px;
  }
}