.tech__text {
  margin: 26px 0 0 ;
  text-align: center;
  width: 460px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
}

@media screen and (max-width: 900px) {
  .tech__text {
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 620px) {
  .tech__text {
    width: 284px;
    font-size: 11px;
    line-height: 16px;
    margin: 24px 14px 0;
  }
}