.student__foto {
  background-size:cover;
  background-repeat: no-repeat;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 900px) {
  .student__foto {
    width: 255px;
    height: 307px;
    bottom: 65px;
  }
}

@media screen and (max-width: 640px) {
  .student__foto {
    position:static;
    width: 292px;
    height: 352;
    margin: 60px auto 0;
  }
}