.tech__link {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 60px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  z-index: 1;
  background-color: #303030;
}
.tech__link:hover {
  opacity: 0.6;
}