.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  align-self: center;
  min-height: 64vh;
}

@media screen and (max-width: 900px) {
  .movies {
      max-width: 92.3%;
  }
}