.page__logo {
  background-image: url(../../../images/page__logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  margin-left: 70px;
}
@media screen and (max-width: 620px) {
  .page__logo {
    margin-left: 14px;
  }
}
