.tech__li {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 60px;
  background-color: #303030;
}

@media screen and (max-width: 900px) {
  .tech__li {
    width: 84px;
    height: 57px;
  }
}