.hero__title {
  margin: auto;
  text-align: center;
  width: 730px;
  font-style: normal;
  font-weight: 400;
  font-size: 46.5px;
  line-height: 58px;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .hero__title {
    width: 660px;
    font-size: 39px;
    line-height: 52px;
  }
}

@media screen and (max-width: 640px) {
  .hero__title {
    width: 292px;
    font-size: 28px;
    line-height: 37px;
  }
}
