.tech__ul {
  padding: 0;
  margin: 100px auto;
  display: flex;
  list-style: none;
  counter-reset: list;
  gap: 10px;
}
@media screen and (max-width: 900px) {
  .tech__ul {
    margin: 85px 0 90px;
  }
}

@media screen and (max-width: 640px) {
  .tech__ul {
    flex-wrap: wrap;
    width: 178px;
    margin-top: 50px;
  }
}