.footer__nav-container {
  width: 1fr;
  height: 56px;
  border-top: 1px solid #424242;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .footer__nav-container {
    flex-direction:column-reverse;
    gap: 30px;
    height: 145px;
    width: 292px;
  }
}