.student__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}

@media screen and (max-width: 620px) {
  .student__title {
    font-size: 18px;
    line-height: 21px;
  }
}