.about__duration-study-text-second {
  font-style: normal;
  margin-top: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
}

@media screen and (max-width: 640px) {
  .about__duration-study-text-second {
    font-size: 11px;
    line-height: 12px;
  }
}