.student__links {
  width: 132px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 47px;
}
@media screen and (max-width: 480px) {
  .student__links {
    flex-direction: column;
  }
}