.navigation {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  margin-right: 70px;
}

@media screen and (max-width: 640px) {
  .navigation {
    gap: 14px;
    margin-right: 15px;
  }
}

.navigation__text {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

@media screen and (max-width: 640px) {
  .navigation__text {
    font-size: 10px;
  }
}

.navigation__link {
  color: #fff;
  text-decoration: none;
  margin-top:auto;
  margin-bottom: auto;
  z-index: 1;
  height: fit-content;
}

.navigation__link:hover {
  opacity: 0.6;
}

.navigation__link_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 32px;
  color: #000000;
  background-color: #3DDC84;
  border-radius: 3px;
  text-decoration: none;
}

.navigation__link_button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 640px) {
  .navigation__link-button {
    width: 54px;
    height: 26px;
  }
}
