.about__cell-text {
  margin: 26px auto 0 ;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

@media screen and (max-width: 900px) {
  .about__cell-text {
    max-width: 319px;
  }
}

@media screen and (max-width: 640px) {
  .about__cell-text {
    max-width: 284px;
    font-size: 11px;
    line-height: 16px;
    margin-top: 16px;
  }
}