.student__name {
  margin-top: 46px;
  text-align: left;
  width: 600px;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 58px;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .student__name {
    width: 348px;
    margin-top: 66px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 620px) {
  .student__name {
    max-width: 292px;
    font-size: 30px;
    line-height: 36px;
    margin: 40px auto 0;
  }
}