.student__link {
  color: #fff;
  text-decoration: none;
  z-index: 1;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.student__link:hover {
  opacity: 0.6;
}