.footer__title {
  margin: 80px auto 20px;
  color: #8B8B8B;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.5px;
}

@media screen and (max-width: 640px) {
  .footer__title {
    width: 300px;
  }
}