.filter {
  display: flex;
  align-items: center;
  width: 197px;
  height: 40px;
  justify-content: center;
  box-sizing: border-box;
  border-left: 1px solid #424242;
  margin-right: 30px;
  margin-left: 30px;
  padding-left: 30px;
}

.filter__container {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  margin-right: 13px;
}

.filter__container .filter__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.filter__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
}

.filter__slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.filter__checkbox:checked + .filter__slider {
  background-color: #3DDC84;
}

.filter__checkbox:checked + .filter__slider:before {
  transform: translateX(17px);
}

.filter__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .filter {
      margin-top: 42px;
  }
}

@media screen and (max-width: 640px) {
  .filter {
      margin-top: 45px;
  }

  .filter__text {
      font-size: 11px;
  }
}