.about__duration-study {
  width: 1140px;
  margin: 0 auto 100px;
  display: flex;
}

@media screen and (max-width: 900px) {
  .about__duration-study {
    max-width: 668px;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 640px) {
  .about__duration-study {
    max-width: 284px;
    margin-bottom: 70px;
  }
}
