.student__about {
  margin-top: 0;
  text-align: left;
  width: 600px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
}

@media screen and (max-width: 900px) {
  .student__abot {
    width: 348px;
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 640px) {
  .student__about {
    width: 292px;
    margin: 20px auto 0;
    font-size: 11px;
    line-height: 16px;
  }
}