.student__portfolio-link-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid #424242;
}

.student__portfolio-link-container:nth-child(3) {
  margin-top: 50px;
}

.student__portfolio-link-container:last-of-type {
  border-bottom: none;
}

@media screen and (max-width: 640px) {
  .student__portfolio-link-container {
    width: 292px;
    margin: 20px auto 0;
    padding-bottom: 19px;
  }

  .student__portfolio-link-container:nth-child(3) {
    margin-top: 40px;
  }

  .student__portfolio-link-container:nth-child(5) {
    padding-bottom: 70px;
  }
}